cartopy
cmocean
dill
gdal
geoarray>=0.15.0
geojson
folium>=0.6.0,!=0.12.0
geopandas
matplotlib
numpy
packaging
pandas
plotly
pyfftw
pykrige
pyproj>2.2.0
py_tools_ds>=0.18.0
scikit-image>=0.16.0
scikit-learn
scipy
shapely
